<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div class="h-400  min-h-400 max-h-400 ">
            <form [formGroup]="dateForm" (ngSubmit)="submit()">
                <div class="grid grid-cols-6 gap-2">
                    <mat-form-field>
                        <input matInput [matDatepicker]="start" formControlName="start">
                        <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
                        <mat-datepicker #start></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput [matDatepicker]="end" formControlName="end">
                        <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
                        <mat-datepicker #end></mat-datepicker>
                    </mat-form-field>

                    <div>
                        <button type="submit"
                                class="mat-elevation-z0 mt-1.5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                mat-mini-fab color="primary">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button mat-mini-fab class=" mt-1.5 text-white font-bold py-2 rounded" (click)="resetForm()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>

                </div>
            </form>

            <!--<hr class="-mt-1">-->
            <div class="grid grid-cols-1 h-20 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full -mt-2">
                <div
                    class="sm:col-span-2 text-center lg:col-span-1 flex flex-col flex-auto bg-violet-100 shadow overflow-hidden">
                    <div class="flex justify-center items-start -mt-0.5 m-6 mb-0">
                        <div
                            class="text-3xl text-primary tracking-tighter leading-tight">
                            {{((summary2?.RevenueSummary?.total + summary2['InvoicePaymentSummary']?.total).toLocaleString('fr-FR') || 0)}}&nbsp;&nbsp;
                            MGA
                        </div>

                    </div>
                    <div class="flex flex-col justify-center lg:flex-row lg:items-center mx-6 mt-3">
                        <div class="text-lg text-primary font-medium tracking-tight leading-6 truncate">
                            Totale paiements
                        </div>
                    </div>
                </div>
                <!-- Impressions -->
                <div class="flex flex-col flex-auto bg-violet-100 shadow overflow-hidden">
                    <div class="flex items-start justify-center -mt-0.5 m-6 mb-0">
                        <div
                            class="text-3xl text-primary tracking-tighter leading-tight">
                            {{summary2.InvoiceSummary?.total?.toLocaleString('fr-FR')}}&nbsp;&nbsp;
                            MGA
                        </div>

                    </div>
                    <div class="flex flex-col justify-center lg:flex-row lg:items-center mx-6 mt-3">
                        <div class="text-lg text-primary font-medium tracking-tight leading-6 truncate">Totale
                            factures
                        </div>
                    </div>
                </div>
                <!-- Visits -->
                <div class="flex flex-col flex-auto bg-violet-100 shadow overflow-hidden">
                    <div class="flex items-start justify-center -mt-0.5 m-6 mb-0">
                        <div
                            class="text-3xl text-primary  tracking-tighter leading-tight">{{summary2.InvoiceSummary?.balance?.toLocaleString('fr-FR')}}&nbsp;&nbsp;
                            MGA
                        </div>
                    </div>
                    <div class="flex flex-col justify-center lg:flex-row lg:items-center mx-6 mt-3">
                        <div class="text-lg text-primary font-medium tracking-tight leading-6 truncate">Montant factures
                            impayés
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <mat-tab-group class="-mt-5" (selectedIndexChange)="onTabChange($event)">
                <mat-tab label="PAIEMENTS ({{(+summary2.RevenueSummary?.count) + (+summary2.InvoicePaymentSummary?.count)}})"  [ngClass]="{'active-tab': activeTabIndex === 0}">
                    <div class="-mt-2">
                        <div class="example-container mat-elevation-z8">
                            <div class="example-table-container">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 pull-right text-white font-bold py-2 px-4 rounded"
                                    (click)="settingsDrawer4.toggle()">
                                    Ajouter revenus
                                </button>
                                <table mat-table [dataSource]="data" class="example-table"
                                       matSort matSortActive="created_at" matSortDisableClear matSortDirection="desc">
                                    <!-- Number Column -->
                                    <ng-container matColumnDef="payé le">
                                        <th mat-header-cell *matHeaderCellDef> Payé le</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{ row.paid_at | date }}
                                            <span class="text-opacity-6 block text-xs">ID: {{row.id}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="contact">
                                        <th mat-header-cell *matHeaderCellDef> Contact</th>
                                        <td mat-cell *matCellDef="let row">
                                            <a href [routerLink]="['/invoiceDetail', row.id]"
                                               *ngIf="row.id">{{ row.contact_name }}</a>
                                            <span *ngIf="row?.type === 'INVOICE_PAYMENT'"
                                                  class="text-opacity-6 block text-xs">
                                                <i class="fa fa-file-archive-o text-primary mr-1"
                                                   aria-hidden="true"></i> Facture n°
                                                {{row.invoice_id}}
                                    </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="catégorie">
                                        <th mat-header-cell *matHeaderCellDef> Catégorie</th>
                                        <td mat-cell *matCellDef="let row">{{ row.Category.name }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef> Description</th>
                                        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="compte">
                                        <th mat-header-cell *matHeaderCellDef> Compte</th>
                                        <td mat-cell *matCellDef="let row">{{ row.Account.name }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="montant">
                                        <th mat-header-cell *matHeaderCellDef> Montant</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{ row.amount.toLocaleString('fr-FR')}}&nbsp;MGA
                                            <span class="text-opacity-6 block text-xs">
                                        {{row.payment_method}}
                                    </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="créer le">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Créé par
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            {{ row.User.name}}
                                            <span class="text-opacity-6 block text-xs">
                                        {{row.created_at | date:'dd MMM yyyy HH:mm'}}
                                    </span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="columnOne">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                    </ng-container>
                                    <ng-container matColumnDef="searchContact">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <form class="example-form">
                                                <mat-form-field class="example-full-width w-full mt-3">
                                                    <input type="text"
                                                           placeholder="Contact..."
                                                           matInput
                                                           [matAutocomplete]="auto"
                                                           [(ngModel)]="searchTerm"
                                                           name="searchTerm"
                                                           (ngModelChange)="this.inputDebounceSearch.next($event)"
                                                    >
                                                    <!--<input type="reset" (click)="reste()" class="font-medium" value="X">-->
                                                    <mat-autocomplete #auto="matAutocomplete"
                                                                      (optionSelected)="onOptionSelected($event)">
                                                        <mat-option *ngFor="let option of filteredOptions | async"
                                                                    [value]="option.name" [id]="option.id">
                                                            {{option.name}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </form>
                                        </th>
                                    </ng-container>

                                    <ng-container matColumnDef="searchCategory">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <form class="example-form">
                                                <mat-select
                                                    #inputSearchCategory
                                                    placeholder="Sélectionnez une catégorie"
                                                    [formControl]="searchCategoryControl"
                                                    (selectionChange)="onSelectionCategoryChange($event.value)"
                                                >
                                                    <mat-option *ngFor="let item of categories" [value]="item"
                                                                id="{{item.id}}">
                                                        {{ item.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </form>
                                        </th>
                                    </ng-container>

                                    <ng-container matColumnDef="searchDescription">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <form class="example-form">
                                                <mat-form-field class="example-full-width w-full mt-3">
                                                    <input placeholder="Recherche..." matInput
                                                           [(ngModel)]="searchDescription"
                                                           type="text" name="userQuestion" id="userQuestions"
                                                           (ngModelChange)="this.searchDescriptionUpdate.next($event)"
                                                    >
                                                </mat-form-field>
                                            </form>
                                        </th>
                                    </ng-container>

                                    <ng-container matColumnDef="columnFive">
                                        <!--empty column 1 -->
                                        <th mat-header-cell *matHeaderCellDef></th>
                                    </ng-container>

                                    <ng-container matColumnDef="searchAmount">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <form class="example-form">
                                                <mat-form-field class="example-full-width w-full mt-3">
                                                    <mat-select
                                                        #inputSearchAmount
                                                        placeholder="Mode de payment"
                                                        [formControl]="searchAmountControl"
                                                        (selectionChange)="onSelectPaymentMethod($event.value)"
                                                    >
                                                        <mat-option *ngFor="let item of paymentMethods" [value]="item">
                                                            {{ item.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </form>
                                        </th>
                                    </ng-container>
                                    <ng-container matColumnDef="columnSeven">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-header-row *matHeaderRowDef="searchDisplayColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>

                            <mat-paginator [length]="resultsLength" [pageSize]="size"
                                           aria-label="Select page of GitHub search results"></mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="FACTURES ({{summary2?.InvoiceSummary?.count}})" [ngClass]="{'active-tab': activeTabIndex === 1}">
                    <app-invoice-list class="-mt-10" #invoiceListComponent [dateForm]="dateForm"></app-invoice-list>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>

</div>

<fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'settingsDrawer2'"
    [position]="'right'"
    #settingsDrawer4>

    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon class="icon-size-7 text-current"
                      [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">Nouveau revenus</div>
            <button
                class="ml-auto"
                mat-icon-button
                (click)="settingsDrawer4.close()">
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col p-6">
            <form role="form" [formGroup]="addRevenueForm" autocomplete="off" novalidate (ngSubmit)="save()">
                <div class="flex">
                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                        <mat-label>Date</mat-label>
                        <input formControlName="paid_at" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field appearance="fill"
                                    [ngClass]="formFieldHelpers"
                                    class="flex-auto gt-xs:pl-3">
                        <mat-label>Catégorie</mat-label>
                        <mat-select formControlName="category_id"
                                    [ngClass]="{'error': submitted && addRevenueForm.controls.account_id.invalid}">
                            <mat-option *ngFor="let item of categories" [value]="item.id">
                                {{ item.id }} - {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field appearance="fill"
                                    [ngClass]="formFieldHelpers"
                                    class="flex-auto gt-xs:pl-3">
                        <mat-label>Compte</mat-label>
                        <mat-select formControlName="account_id"
                                    [ngClass]="{'error': submitted && addRevenueForm.controls.account_id.invalid}">
                            <mat-option *ngFor="let item of accounts" [value]="item.id">
                                {{ item.id }} - {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <div appearance="fill"
                         [ngClass]="formFieldHelpers"
                         class="flex-auto gt-xs:pl-3">
                        <mat-label>Contact</mat-label>
                        <br>
                        <app-typehead-contact formControlName="contact" [submitted]="submitted"></app-typehead-contact>
                    </div>
                </div>
                <div class="flex">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto">
                        <mat-label>Montant</mat-label>
                        <input type="number" formControlName="amount" matInput>
                        <span matPrefix>Ar&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field appearance="fill"
                                    [ngClass]="formFieldHelpers"
                                    class="flex-auto gt-xs:pl-3">
                        <mat-label>Mode de Payment</mat-label>
                        <mat-select formControlName="payment_method"
                                    [ngClass]="{'error': submitted && addRevenueForm.controls.account_id.invalid}">
                            <mat-option *ngFor="let item of appService.paymentMethods" [value]="item.code">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="fuse-mat-textarea flex-auto">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4
                focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600
                dark:hover:bg-green-700 dark:focus:ring-green-800" (click)="settingsDrawer4.close()">Ajouter
                </button>

            </form>
        </div>
    </div>
</fuse-drawer>
