<mat-table [dataSource]="dataTable" class="mat-elevation-z8">
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef translate>
            <mat-icon>menu</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let revenue">
                <span class="badge badge-primary pointer" [matTooltip]="'Remboursement'"
                      (click)="refund(revenue)" *ngIf="!revenue.reconciled">
                                <mat-icon>undo</mat-icon>
                            </span>
            <span class="badge badge-danger pointer ml-1" *ngIf="revenue.payment_method === 'REWARD'"
                  [matTooltip]="'Revenir Paiement'">
                                <mat-icon>arrow_back</mat-icon>
                            </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef translate>ID</mat-header-cell>
        <mat-cell *matCellDef="let revenue">{{ revenue.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="paid_at">
        <mat-header-cell *matHeaderCellDef translate>Date de pmt.</mat-header-cell>
        <mat-cell *matCellDef="let revenue">{{ revenue.paid_at | date:'dd MMM yyyy HH:mm' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef translate>Description</mat-header-cell>
        <mat-cell *matCellDef="let revenue">{{ revenue.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef translate>Montant</mat-header-cell>
        <mat-cell *matCellDef="let revenue">{{ revenue.amount.toLocaleString('fr-FR') }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="payment_method">
        <mat-header-cell *matHeaderCellDef translate>Moyen de p.</mat-header-cell>
        <mat-cell *matCellDef="let revenue">{{ revenue.payment_method }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="account_id">
        <mat-header-cell *matHeaderCellDef translate>Compte</mat-header-cell>
        <mat-cell *matCellDef="let revenue">{{ revenue.account_id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef translate>Créer le</mat-header-cell>
        <mat-cell *matCellDef="let revenue">
            {{ revenue?.User.name }}
            <span
                class="text-muted font-size-13 d-block">{{ revenue?.created_at | date:'dd MMM yyyy HH:mm' }}</span>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <ng-container *matNoDataRow>
        <tr>
            <td colspan="{{ displayedColumns.length }}">Aucun enregistrement</td>
        </tr>
    </ng-container>
</mat-table>
<button mat-button class="pull-right" (click)="exportToExcel(dataTable, 'list_payments')">
    Télécharger
</button>

<fuse-drawer
    class=" mt-15 mr-15 w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    #drawer
    [mode]="'over'"
    [name]="'settingsDrawer3'"
    [position]="'right'"
>

    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon class="icon-size-7 text-current"
                      [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">Ajouter</div>
            <button
                class="ml-auto"
                mat-icon-button
                (click)="close()">
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col p-6">
            <form role="form" [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="save()">
                <div class="flex">
                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                        <mat-label>Date</mat-label>
                        <input formControlName="paid_at" matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto">
                        <mat-label>Montant</mat-label>
                        <input type="number" formControlName="amount" matInput>
                        <span matPrefix>Ar&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field appearance="fill"
                                    [ngClass]="formFieldHelpers"
                                    class="flex-auto gt-xs:pl-3">
                        <mat-label>Compte</mat-label>
                        <mat-select formControlName="account_id"
                                    [ngClass]="{'error': submitted && form.controls.account_id.invalid}">
                            <mat-option *ngFor="let item of accounts" [value]="item.id">
                                {{ item.id }} - {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field appearance="fill"
                                    [ngClass]="formFieldHelpers"
                                    class="flex-auto gt-xs:pl-3">
                        <mat-label>Mode de Payment</mat-label>
                        <mat-select formControlName="payment_method"
                                    [ngClass]="{'error': submitted && form.controls.account_id.invalid}">
                            <mat-option *ngFor="let item of appService.paymentMethods" [value]="item.code">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="fuse-mat-textarea flex-auto">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4
                focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600
                dark:hover:bg-green-700 dark:focus:ring-green-800">Ajouter
                </button>
            </form>
        </div>
    </div>
</fuse-drawer>
